@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.stroke-text {
  -webkit-text-stroke: 1px #a68a3cd8;
  color: transparent;
}
@keyframes float {
  0% {
    transform: translateY(0px) rotate(-12deg);
  }
  50% {
    transform: translateY(-10px) rotate(-12deg);
  }
  100% {
    transform: translateY(0px) rotate(-12deg);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}
*::selection {
  background: rgba(166, 138, 60, 0.56);
  color: #fff;
}

*::-moz-selection {
  background: rgba(166, 138, 60, 0.56);
  color: #fff;
}
input[type="checkbox"] {
  accent-color: #A68A3C;
}
input[type="radio"] {
  accent-color: #A68A3C; 
}